<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalXl">Extra large modal</button>



<div class="modal fade" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalXlLabel">Personaliza tu Plato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="stepper1" class="bs-stepper">
                    <div class="bs-stepper-header">
                      <div class="step" data-target="#test-l-1">
                        <button class="step-trigger">
                          <span class="bs-stepper-circle">1</span>
                          <span class="bs-stepper-label">Ingredientes</span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#test-l-2">
                        <button class="step-trigger">
                          <span class="bs-stepper-circle">2</span>
                          <span class="bs-stepper-label">Porciones Extra</span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#test-l-3">
                        <button class="step-trigger">
                          <span class="bs-stepper-circle">3</span>
                          <span class="bs-stepper-label">Preferencias</span>
                        </button>
                      </div>
                    </div>
                    <div class="bs-stepper-content">
                      <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                          <div class="form-group">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Ingrediente 1 (S/.10)</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Ingrediente 2 (S/.10)</label>
                              </div>
                              
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">Ingrediente 3 (S/.10)</label>
                              </div>

                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox4">Ingrediente 4 (S/.10)</label>
                              </div>

                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox5">Ingrediente 5 (S/.10)</label>
                              </div>
                          </div>
                          <button (click)="next()" class="btn btn-primary">Next</button>
                        </div>
                        <div id="test-l-2" class="content">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                          </div>
                          <button (click)="next()" class="btn btn-primary">Next</button>
                        </div>
                        <div id="test-l-3" class="content">

                            <label for="exampleFormControlTextarea1">Indiquenos por favor las preferencias que desea para el plato</label>
                            <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3"></textarea>

                            <div class="text-right mt-5">
                                <span class="d-block">Costo Total: S/.10</span>
                                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="css/fonts.css">Agregar al carrito</a></div>
                                <button type="submit" class="btn btn-primary mt-3">Agregar al Carrito</button>
                            </div>
                          
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>